{:paths ["src"],
 :deps
 {org.clojure/core.async {:mvn/version "0.4.474"}
  adjutant {:git/url "https://github.com/bolasblack/adjutant"
            :sha "4fd6015251143fc09732adfd2d8e48c0269220ab"}}
 :aliases
 {:dev {:extra-deps {refactor-nrepl {:mvn/version "2.4.0"}
                     cider/cider-nrepl {:mvn/version "0.18.0"}}}
  :test {:extra-paths ["test"]}}}
